header{
    background-color: #c6c5b9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    font-weight: 600;
    font-size: 1.2em;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    color: #393d3f;
}

nav a:hover{
    color: #000000;
    transition: .2s;
    text-decoration: underline;
}