header{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    min-height: 50px;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: blueviolet;
    transition: .4s;
    text-decoration: underline;
}