*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #546a7b;
    color: #fdfdff;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#my-projects-list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
#my-projects-list a{
    text-decoration: none;
    color: #393d3f;
}
#my-projects-list a:hover{
   color: black;
   cursor: pointer;
}

:is(.img-profile, .img-who-am-i){
    box-shadow: 1px 1px 1px 1px #393d3f;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #c6c5b9;
}
::-webkit-scrollbar-thumb{
    background: #393d3f;

}
::-webkit-scrollbar-thumb:hover{
    background-color: black;

}